<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> | <%= @site.config[:title] %></title>
    <meta name="author" content="Peter Aronoff">
    <link href="/atom.xml" rel="alternate" title="ithaca" type="application/atom+xml">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="../../../css/normalize.css" media="screen, projection">
    <link rel="stylesheet" href="../../../css/screen.css" media="screen, projection">
    <link rel="stylesheet" href="../../../css/code.css" media="screen, projection">
  </head>

  <body>

    <div class="home">&lArr; <a href="/">Return home</a></div>

    <h1 class="top"><%= @item[:h1] %></h1>
    <div class="stamp">
      <%= @item[:location] %> &middot; <%= @item[:created_at] %>
    </div>

    <%= yield %>

    <div class="up">&uArr; <a href="#home">Back to top</a></div>

    <div class="footer">
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li>| <a href="/about.html">About</a></li>
        <li>| <a href="/archive.html">Archive</a></li>
        <li>| <a href="/atom.xml">Subscribe</a></li>
      </ul>
    </div>

  </body>
</html>
